body {
  font-family: "Roboto", sans-serif;
  /* font-weight: 500; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* ============ */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-black {
  color: #2e2f42;
}

header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
